.button {
	display: inline-block;
	border: 2px solid var(--color-dark);
	background: var(--color-primary);
	color: var(--color-dark);
	border-radius: 50%;
	line-height: 1;
	padding: var(--space-s-m) var(--space-m-l);
	text-decoration: none;
}
